<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="cn.songzx.helloworld.workflow.biz"></context:component-scan>
	<context:component-scan base-package="cn.songzx.helloworld.workflow.dao"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<!-- 加载activiti流程引擎的db.properties配置文件 -->
	<!-- 此流程引擎版本为：V5.18 -->
	<bean id="bpmDbConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:db_activiti518.properties</value>
				<value>classpath:db_activiti522.properties</value>
			</array>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- ☆★ ☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★ -->
	<!-- activiti518阿里druid数据库连接池 -->
	<bean id="dataSourceActiviti518" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- 数据库基本信息配置 -->
		<property name="url" value="${activiti518.url}" />
		<property name="username" value="${activiti518.username}" />
		<property name="password" value="${activiti518.password}" />
		<property name="driverClassName" value="${activiti518.driverClassName}" />
		<property name="filters" value="${activiti518.filters}" />
		<!-- 最大并发连接数 -->
		<property name="maxActive" value="${activiti518.maxActive}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${activiti518.initialSize}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${activiti518.maxWait}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${activiti518.minIdle}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${activiti518.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${activiti518.minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${activiti518.validationQuery}" />
		<property name="testWhileIdle" value="${activiti518.testWhileIdle}" />
		<property name="testOnBorrow" value="${activiti518.testOnBorrow}" />
		<property name="testOnReturn" value="${activiti518.testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="${activiti518.maxOpenPreparedStatements}" />
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="${activiti518.removeAbandoned}" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="${activiti518.removeAbandonedTimeout}" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="${activiti518.logAbandoned}" />
	</bean>
	<!-- activiti522阿里druid数据库连接池 -->
	<bean id="dataSourceActiviti522" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- 数据库基本信息配置 -->
		<property name="url" value="${activiti522.url}" />
		<property name="username" value="${activiti522.username}" />
		<property name="password" value="${activiti522.password}" />
		<property name="driverClassName" value="${activiti522.driverClassName}" />
		<property name="filters" value="${activiti522.filters}" />
		<!-- 最大并发连接数 -->
		<property name="maxActive" value="${activiti522.maxActive}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${activiti522.initialSize}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${activiti522.maxWait}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${activiti522.minIdle}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${activiti522.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${activiti522.minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${activiti522.validationQuery}" />
		<property name="testWhileIdle" value="${activiti522.testWhileIdle}" />
		<property name="testOnBorrow" value="${activiti522.testOnBorrow}" />
		<property name="testOnReturn" value="${activiti522.testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="${activiti522.maxOpenPreparedStatements}" />
		<!-- 打开 removeAbandoned 功能 -->
		<property name="removeAbandoned" value="${activiti522.removeAbandoned}" />
		<!-- 1800 秒，也就是 30 分钟 -->
		<property name="removeAbandonedTimeout" value="${activiti522.removeAbandonedTimeout}" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="${activiti522.logAbandoned}" />
	</bean>

	<bean id="dynamicDataSource" class="cn.songzx.helloworld.workflow.dao.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<!-- 指定lookupKey和与之对应的数据源 -->
				<entry key="dataSourceActiviti518" value-ref="dataSourceActiviti518"></entry>
				<entry key="dataSourceActiviti522" value-ref="dataSourceActiviti522"></entry>
			</map>
		</property>
		<!-- 这里可以指定默认的数据源 -->
		<property name="defaultTargetDataSource" ref="dataSourceActiviti518" />
	</bean>

	<!-- ☆★ ☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★ -->


	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<!-- 流程引擎数据主键生成策略：UUID -->
	<bean id="uuidGenerator" class="org.activiti.engine.impl.persistence.StrongUuidGenerator"></bean>

	<!-- spring初始化activiti流程引擎 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<!-- 制定要使用的数据库类型 -->
		<property name="databaseType" value="${activiti518.databaseType}"></property>
		<!-- 设置流程引擎启动和关闭时数据库执行的策略 databaseSchemaUpdate 有以下三个值： "false" Activiti在启动时，会对比数据库中保存的版本，如果没有表或者版本不匹配，将在启动时抛出异常。 "true" Activiti在启动时，会对数据库中所有表进行更新，如果表不存在，则Activiti会自动创建。 "create-drop" Activiti在启动时会执行表的创建工作，在关闭时会执行表的删除工作。 开发阶段设置为：true -->
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="true" />
		<property name="enableDatabaseEventLogging" value="true" />
		<!-- 避免发布的图片和xml遇到中文时乱码 -->
		<property name="activityFontName" value="宋体" />
		<property name="labelFontName" value="宋体" />
		<!-- 解析xml流程文件所使用的字符集，默认为UTF-8，依据数据库来 -->
		<property name="xmlEncoding" value="${activiti518.xmlEncoding}" />
		<property name="idGenerator" ref="uuidGenerator" />
	</bean>

	<!-- activiti流程引擎 -->
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />

	<!-- 事务切面切入配置 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="get*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="find*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="query*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="transactionPointCut" expression="execution(* cn.songzx.helloworld.workflow.biz.*.*(..))" />
		<aop:advisor pointcut-ref="transactionPointCut" advice-ref="txAdvice" order="1" />
	</aop:config>


</beans>