<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="cn.songzx.helloworld.workflow.biz"></context:component-scan>
	<context:component-scan base-package="cn.songzx.helloworld.workflow.dao"></context:component-scan>
	<context:component-scan base-package="cn.songzx.helloworld.oabiz.wf.service"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<import resource="classpath:/spring-activiti518-datasource.xml"/>
	<import resource="classpath:/spring-oabiz-datasource.xml"/>

	<bean id="dynamicDataSource" class="cn.songzx.helloworld.workflow.dao.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<!-- 指定lookupKey和与之对应的数据源 -->
				<entry key="dataSourceActiviti518" value-ref="dataSourceActiviti518"></entry>
				<entry key="dataSourceActiviti522" value-ref="dataSourceActiviti522"></entry>
				<entry key="dataSourceOABiz" value-ref="dataSourceOABiz"></entry>
			</map>
		</property>
		<!-- 这里可以指定默认的数据源 -->
		<property name="defaultTargetDataSource" ref="dataSourceOABiz" />
	</bean>

	<!-- ☆★ ☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★ -->


	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<!-- 流程引擎数据主键生成策略：UUID -->
	<bean id="uuidGenerator" class="org.activiti.engine.impl.persistence.StrongUuidGenerator"></bean>

	<!-- spring初始化activiti流程引擎 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<!-- 制定要使用的数据库类型 -->
		<property name="databaseType" value="${activiti518.databaseType}"></property>
		<!-- 设置流程引擎启动和关闭时数据库执行的策略 databaseSchemaUpdate 有以下三个值： "false" Activiti在启动时，会对比数据库中保存的版本，如果没有表或者版本不匹配，将在启动时抛出异常。 "true" Activiti在启动时，会对数据库中所有表进行更新，如果表不存在，则Activiti会自动创建。 "create-drop" Activiti在启动时会执行表的创建工作，在关闭时会执行表的删除工作。 开发阶段设置为：true -->
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="true" />
		<property name="enableDatabaseEventLogging" value="true" />
		<!-- 避免发布的图片和xml遇到中文时乱码 -->
		<property name="activityFontName" value="宋体" />
		<property name="labelFontName" value="宋体" />
		<!-- 解析xml流程文件所使用的字符集，默认为UTF-8，依据数据库来 -->
		<property name="xmlEncoding" value="${activiti518.xmlEncoding}" />
		<property name="idGenerator" ref="uuidGenerator" />
	</bean>

	<!-- activiti流程引擎 -->
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />

	<!-- 事务切面切入配置 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="get*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="find*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="query*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="transactionPointCutBpm" expression="execution(* cn.songzx.helloworld.workflow.biz.*.*(..))" />
		<aop:advisor pointcut-ref="transactionPointCutBpm" advice-ref="txAdvice" order="3" />
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="transactionPointCutBiz" expression="execution(* cn.songzx.helloworld.oabiz.wf.service.*.*(..))" />
		<aop:advisor pointcut-ref="transactionPointCutBiz" advice-ref="txAdvice" order="4" />
	</aop:config>


</beans>